<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164933517436-mb9v1p75a4fi7cv300v4h9fn3afjhgup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164933517436-mb9v1p75a4fi7cv300v4h9fn3afjhgup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>164933517436-4nhf8aa6g9u9djau29ol1ufmfkdoq3dn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyConkTXKghThEHyznxid7QbqRzqcy_vfzw</string>
	<key>GCM_SENDER_ID</key>
	<string>164933517436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyMemories</string>
	<key>PROJECT_ID</key>
	<string>mood-app-12508</string>
	<key>STORAGE_BUCKET</key>
	<string>mood-app-12508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164933517436:ios:f1e68ac20d889756f789f9</string>
</dict>
</plist>